.section-container {
    text-align: left; 
    max-width: 80%; 
    margin: 0 auto
}

.responsive-container {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 20px
}

.home-header {
    color: #990c4e;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-text {
    padding: 4px; 
    text-align: center;
}

.goToMateriasBtn {
    background-color: #86BBD8;
    border: none;
    font-size: x-large;
    color: black;
}

.goToMateriasBtn:hover {
    background-color: #B9D8E9;
    color: black;
}

@media (max-width: 680px) {
    .responsive-container {
        grid-template-columns: 1fr;
    }
}