/*COLORES
b1ddf1-004fff-9b2166
*/
.cursar {
    background-color: #B1DDF1;
    color: black;
}

.cursar:hover {
    background-color: #C7E6F5;
}

.regular {
    background-color: #004fff;
}

.regular:hover {
    background-color: #1A62FF;
}

.aprobar {
    background-color: #9b2166;
}

.aprobar:hover {
background-color: #B12574;
}

.colors-header {
    color: #990c4e;
    margin-left: 12px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.year-header {
    color: #69113a;
    font-size: x-large;
    font-weight: 500;
}


.item {
    display: flex;
    /* Para que los elementos estén en línea */
    align-items: center;
    /* Para centrar verticalmente los elementos */
    margin-bottom: 12px;
    /* Espacio entre elementos, ajusta según necesites */
}

.square1 {
    width: 24px;
    height: 24px;
    background-color: black;
    margin-right: 12px;
    margin-left: 12px;
    /* Espacio entre el cuadrado y el texto, ajusta según necesites */
}

.square2 {
    width: 24px;
    height: 24px;
    background-color: #b1ddf1;
    margin-right: 12px;
    margin-left: 12px;
    /* Espacio entre el cuadrado y el texto, ajusta según necesites */
}

.square3 {
    width: 24px;
    height: 24px;
    background-color: #004fff;
    margin-right: 12px;
    margin-left: 12px;
    /* Espacio entre el cuadrado y el texto, ajusta según necesites */
}

.square4 {
    width: 24px;
    height: 24px;
    background-color: #9b2166;
    margin-right: 12px;
    margin-left: 12px;
    /* Espacio entre el cuadrado y el texto, ajusta según necesites */
}

.a {
    margin-bottom: 0px;
}